@import "./style.css";

/*
html {
  cursor: url('../img/cursor.png'), auto;
}

a, button, .btn {
  cursor: url('../img/cursor-hover.png'), auto !important;
}

.btn:hover {
  filter: brightness(0.75);
}
*/

input, textarea {
  background-color: #eeeeee88 !important;
}

p.h1 {
  text-align: center;
}

* :focus {
  opacity: 0.5;
}